body {
    background: #fff;
    margin: 0 auto;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 24px;
}
.icon {
    text-align: center;
    margin: 0 auto;
    width: 50%;
    padding: 3% 0;
}
.icon img {
    width: 100%;
    max-width: 610px;
}
.page {
    margin: 0 auto;
    background: #efefef;    
}
.page .wrapper {
    width: 50%;
    padding: 3%;
    margin: 0 auto;
}
.footer {
    margin: 0 auto;
    width: 50%;
    padding: 3%;
}
.footer p {
    width: 100%;
    text-align: center;
}
h1 {
    margin: 0;
    padding: 0 0 15px;
}
p {
    margin: 0;
    padding: 0 0 15px;
}
p:last-of-type {
    padding: 0;
}
a {
    color: rgb(0, 132, 255);
}